.MealInfo {
    font-size: 1rem;
    font-weight: 200;
    min-height: 5.5rem;
    padding: 8px;
    margin-top: 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-flow: column;
    text-transform: lowercase;
}

.TypeOfMeal {
    font-weight: 400;
    font-size: 0.75rem;
    margin-left: auto;
    padding-bottom: 5px;
}