.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    align-items: center;
    height: 100%;
}

.NavigationItem a {
    color: #419086;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #42b3a9;
}

@media (min-width: 600px) {
    .NavigationItem {
        margin: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
    }

    .NavigationItem a {
        color: #419086;
        font-family: Oswald, sans-serif;
        font-weight: 600;
        font-size: 25px;
        text-decoration: none;
        height: 100%;
        padding: 30px 20px;
        box-sizing: border-box;
        display: block;
    }

    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        color: #42b3a9;
    }
}